In [ ]:
import requests
url = "http://182.18.164.20/transformer_api/Total_Power/"
user = "admin"
passwd = "admin@123"
auth_values = (user, passwd)
response = requests.get(url, auth=auth_values)

In [2]:
import pandas as pd
tp = pd.DataFrame.from_dict(response.json(), orient='columns')
tp

          A_id       DeviceImei      DeviceTimeStamp  ...    KVAR    MPD  MKVAD
0       923158  867322031102411  2021-06-07T12:30:17  ...  13.760  148.4  150.1
1       923153  867322031025331  2021-06-07T12:30:16  ...  -5.928  101.0  121.8
2       923157  868997035786183  2021-06-07T12:15:23  ...   0.000    0.0    0.0
3       923108  867322031102411  2021-06-07T12:15:18  ...  15.140  148.4  150.1
4       923160  868325022974721  2021-06-07T12:15:18  ...  33.716  277.7  279.4
...        ...              ...                  ...  ...     ...    ...    ...
919836   55315  868996035122100  2000-01-01T00:08:24  ...   3.085    0.0    0.0
919837    7606  868325022974721  2000-01-01T00:07:31  ...   0.000    0.0    0.0
919838    6174  864502030106769  2000-01-01T00:06:57  ...  19.053    0.0    0.0
919839  410333  868997035786639  2000-01-01T00:05:15  ...   0.000    0.0    0.0
919840  344343  867322031023443  2000-01-01T00:02:17  ...  -0.280    0.0    0.0

[919841 rows x 11 columns]

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from statsmodels.tsa.stattools import adfuller
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
tp.corr()

           A_id       KWH     KVARH  ...      KVAR       MPD     MKVAD
A_id   1.000000  0.433273  0.437151  ...  0.087092  0.195408  0.185233
KWH    0.433273  1.000000  0.998448  ...  0.351126  0.518713  0.507291
KVARH  0.437151  0.998448  1.000000  ...  0.374747  0.519680  0.511825
Sum_I       NaN       NaN       NaN  ...       NaN       NaN       NaN
KW     0.194375  0.493077  0.492532  ...  0.699774  0.778646  0.763431
KVA    0.191037  0.489604  0.492505  ...  0.739763  0.775051  0.767354
KVAR   0.087092  0.351126  0.374747  ...  1.000000  0.563151  0.584381
MPD    0.195408  0.518713  0.519680  ...  0.563151  1.000000  0.992997
MKVAD  0.185233  0.507291  0.511825  ...  0.584381  0.992997  1.000000

[9 rows x 9 columns]

In [1]:
X=tp['MPD'].values
result=adfuller(X)
print('ADF statistic : f', result[0])
print('P value : ', result[1])
print('critical values :')
for key,value in result[4].items():
  print('\t%s: %.3f' %(key,value))
if result[0]<result[4]["5%"]:
  print("It is stationery.")
else:
  print("It is not stationery")

NameError: ignored

In [ ]:
plt.plot(tp['MPD'])